body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.player1 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 150px;
  text-align: center;
  max-width: 360px;
  z-index: 2;
}

.player2 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 150px;
  text-align: center;
  max-width: 360px;
  z-index: 2;
}

.player3 {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%) ;
  height: 150px;
  max-width: 300px;
  z-index: 2;
}

.player4 {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  height: 150px;
  max-width: 300px;
  z-index: 2;
}

.player5 {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-175%) rotate(300deg);
  height: 150px;
  max-width: 300px;
  z-index: 2;
  
}
.player1 img,
.player2 img,
.player3 img,
.player4 img,
.player5 img{
  height: 100px;
  margin: 0 -60px;
  transition: transform 0.2s;
  display: inline-block;
  position: relative;
}


.player1 img:first-child,
.player2 img:first-child,
.player3 img:first-child,
.player4 img:first-child,
.player5 img:first-child {
  margin-left: 0;
}


.player1 img:hover,
.player2 img:hover,
.player3 img:hover,
.player4 img:hover{
  transform: translateY(-10px);
  z-index: 10;
}

.deck {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  max-width: 100px;
  z-index: 1;
}

body {
  background-color: rgb(19, 169, 19);
  color: white;
}

.deck {
  text-align: center;
  height: 100px;
  margin-top: 10px;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.action-button {
  height: 38px;
  border-color: white;
  color: white;
  background-color: rgb(0, 0, 255);
  border: solid;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom:25px;
}

.action-button:hover {
  opacity: 0.8;
  transition: opacity 0.15s;
}

.action-button:active {
  opacity: 0.6;
  transition: opacity 0.15s;
}

.initial-page {
  text-align: center;
}
