body{
  background-color: black;
  color:white;
}
p{
  font-size: 50px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  color:white;
}
button{
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  height:40px;
  color:white;
  background-color:rgb(169, 113, 40);
  border-radius: 12px;
  border:solid;
  border-color: white;
  margin-bottom: 15px;
}
button:hover{
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 5px 5px 0px white;
}
button:active{
  opacity: 0.6;
  transition: opacity 0.15s;
}
.rps-photo{
 margin-top:20px;
 margin-bottom: 10px;
 margin-left: 40px;
}
.result{
  font-weight:bold;
  font-family:Arial;
  font-size:15px;
}